API_PORT=3000
API_ENV=dev
# Genera un secreto aleatorio siguiendo las instrucciones del README.
JWT_SECRET=
CRYPTO_CACHE_MINUTES=15
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=database
CORS_ORIGIN=http://localhost:8080,https://miapp.com,https://admin.miapp.com
